.link-like-text {
    color: blue;
    text-decoration: underline;
}
.column.is-3-withrange {
    flex: none;
    width: 25%;
    min-width: 12rem;
    max-width: 24rem;
}

/*
 * Header
 */

*[ui='fixed'] {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 6px silver;
}
section.top-margin {
    padding-top: 12rem !important;
}

#header.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*
 * Handle
 */
#handle.section {
    padding-top: 0;
    padding-bottom: 0;
}

/**
 * Calendar
 */
#calendar.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


*[ui='calendar-table'] {
    margin: 0; padding: 0;
    border-collapse: collapse;
}
*[ui='calendar-table'] td {
    border: solid 1px gray;
}
*[ui='calendar-table'] *[ui='calendar-month-row'] td {
    padding-left: 0.5rem;
    background-color: white;
}
*[ui='calendar-table'] *[ui='calendar-day-row'] td {
    width: 24px !important;
    text-align: center;
    font-size: 12px;
}
*[ui='calendar-table'] *[ui='calendar-day-row'] td.today {
    font-weight: bold;
    color: red;
}


/*
 * Table
 */
#table.section {
    padding-top: 1rem;
}


*[ui='group-header'] {
    font-weight: bolder;
}
*[ui='group-header']:not(:last-child) {
    margin-top: 1rem;
}
*[ui='table-row']{
    padding: 0;
}
*[ui='table-row'].has-bottom:not(:last-child) {
    border-bottom: dotted 1px silver;
    margin-bottom: 2.5rem;
}
*[ui='table-rowtitle']{}
*[ui='table-colcontainer']{
    padding: 0;
    overflow: hidden;
}
*[ui='table-canvas']{
    margin: 0;
    padding: 0.25rem 0;
}
*[ui='assign-block']{
    margin: 0; margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: silver;
    border: solid 1px gray;
}
*[ui='assigned-member'] {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem;
    white-space: nowrap;
}
*[ui='assigned-project'] {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem;
    white-space: nowrap;
}


*[ui='member-item']{
    margin: 0.25rem;
    padding: 0.25rem;
}

/*
 * Footer
 */



/*
 * Dialog
 */

/* Assign Dialog */

*[ui='assign-candidate-member'] {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem;
}
*[ui='assign-candidate-member']:hover {
    background-color: gainsboro;
}

/* Project Dialog */

*[ui='markuped'] h1 { font-size:200%; }
*[ui='markuped'] h2 { font-size:180%; }
*[ui='markuped'] h3 { font-size:160%; }
*[ui='markuped'] h4 { font-size:140%; }
*[ui='markuped'] h5 { font-size:125%; }
*[ui='markuped'] h6 { font-size:90%; font-weight: bold; }
*[ui='markuped'] p, *[ui='markuped'] div {
    margin-bottom: 1rem;
}
*[ui='markuped'] ul, *[ui='markuped'] ol {
    margin-left: 3rem;
    margin-bottom: 1rem;
}
*[ui='markuped'] blockquote {
    color: gray;
    border-left: solid 4px silver;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

